# Nazwa naszego workflow (pojawi się w zakładce Actions)
name: Super-Linter

permissions:
  contents: read
  statuses: write

# Kiedy ta akcja ma się uruchamiać?
on:
  pull_request: # Oraz przy każdym otwarciu/aktualizacji Pull Requesta
    branches:
      - main # Celujących w 'main'

# Jakie zadania (jobs) ma wykonać?
jobs:
  # Nazwa naszego zadania (to jest nazwa "status check")
  lint-code:
    # Na jakim systemie ma to uruchomić?
    runs-on: ubuntu-latest

    # Kroki do wykonania
    steps:
      # Krok 1: Pobranie kodu z repozytorium
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Pobierz całą historię, potrzebne do Super-Lintera

      # Krok 2: Uruchomienie Super-Lintera (tylko dla innych plików)
      - name: Run Super-Linter
        uses: github/super-linter@v6
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: 'false'
          VALIDATE_TYPESCRIPT_ES: 'false'
          VALIDATE_TYPESCRIPT_STANDARD: 'false'
          VALIDATE_TSX: 'false'

      # Krok 3: Instalacja zależności
      - name: Install dependencies
        run: npm ci

      # Krok 4: Uruchomienie lokalnego lintera (ESLint)
      - name: Run local lint
        run: npm run lint
